<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign-in">
    <mat-form-field>
      <input #usernameInput matInput required placeholder="Username" formControlName="username" autocomplete="off">
      <mat-error *ngIf="signInForm.controls.username.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput required type="password" placeholder="Password" formControlName="password" autocomplete="off">
      <mat-error *ngIf="signInForm.controls.password.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <br />
    <div class="button-container">
      <button mat-flat-button color="primary" type="submit">Sign In</button>
    </div>
    <div *ngIf="responseError" class="response">
      <span class="error">{{responseError}}</span>
    </div>
  </form>