<div *ngIf="doLoad" class="home">
  <mat-toolbar color="primary">
    <div class="title">
      <span>Punchclock</span>
    </div>
    <div class="space"></div>
    <div class="content">
      <button (click)="showEntries()" mat-button>Entries</button>
      <mat-icon [matMenuTriggerFor]="profileMenu" class="profile">account_circle</mat-icon>
      <mat-menu #profileMenu="matMenu">
        <span mat-menu-item class="info">{{user.username}}</span>
        <button (click)="signOut()" mat-menu-item>Sign out</button>
        <button (click)="changeUser()" mat-menu-item>Adjust User</button>
        <button (click)="deleteUser()" mat-menu-item>Delete User</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
<app-profile *ngIf="isChange" (userUpdate)="updateUser($event)"></app-profile>
<router-outlet *ngIf="!isChange"></router-outlet>