form {
  mat-form-field {
    width: 100%;
  }

  .button-container {
    text-align: center;

    button {
      margin: auto;
    }
  }

  .response {
    margin: 10px 0;
    text-align: center;

    .success {
      color: green;
    }

    .error {
      color: red;
    }
  }
}
